node_modules
.env
.env.local
.env.production
.next

src/generated/prisma
src/generated
/generated/prisma

README.md
SkillBridge.md
prisma/migrations
postman.md
amar_shikkhok.md
remaining_work.md
workflow.md
.vercel
dist

.vercel

/doc/config


.vercel
